@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

ul {
    list-style-type: none;
    display: block;
    width: 150px;
    padding-left: 10px;
}

li {
    padding: 5px;
}

a {
    text-decoration: none;
}

  .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
  }

  .card {
    height: 200px;
    width: 200px;
  }
    
  .header {
    height: 72px;
    background: #f7edde;
    color: darkmagenta;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    font-size: x-large;
  }
  
  .centre {
    display: flex;
    flex-direction: row;
  }
  
  .footer {
    height: 72px;
    background: #f7edde;
    color: darkmagenta;
    margin-top: auto;
  }
  
  .sidebar {
    width: 300px;
    background: rgb(243, 227, 227);
    box-sizing: border-box;
  }
  
  .card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 10px;
  }

img {
    height: 150px;
    width: 150px;
    display: flex;
    padding-left: 10px;
}